mnist-data
.DS_Store
mnist-training/mnist-lenet5-tf/.*
mnist-training/mnist-lenet5-tf/bin
mnist-training/mnist-lenet5-tf/include
mnist-training/mnist-lenet5-tf/lib
mnist-training/mnist-lenet5-tf/pip-selfcheck.json
mnist-comparison/data
mnist-comparison/model
