.DS_Store
/model/*
/data/*
/training/mnist-lenet5-tf/.*
/training/mnist-lenet5-tf/bin
/training/mnist-lenet5-tf/include
/training/mnist-lenet5-tf/lib
/training/mnist-lenet5-tf/pip-selfcheck.json
/mnist-comparison/data
/mnist-comparison/model
/extension/output
/extension/node_modules
!/model/*.sh
!/model/*.md
